.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px;
  padding: 15px;
  background-color: white;
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
  border-color: green;
  width: 100px;
}

input {
  text-align: center;
}

h4 {
  border-bottom: solid 1px black;
  padding: 15px;
  margin-top: 0px;
  max-width: 350px;
}

input,
textarea {
  width: 200px;
}

.info {
  margin: 0px;
}
